
<nav class="navbar">
    <div class="navbar-brand">
      <h2>Fleet Managment Application</h2>
    </div>
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" >Home</a>
      </li>

      <li class="nav-item">
        <a routerLink="/Drivers" routerLinkActive="active">Drivers</a>
      </li>

      <li class="nav-item">
        <a routerLink="/VehicleInfo" routerLinkActive="active">Vehicles</a>
      </li>

      <li class="nav-item">
        <a routerLink="/RouteHistory" routerLinkActive="active">Route History</a>
      </li>

      <li class="nav-item">
        <a routerLink="/Geofences" routerLinkActive="active">Geofences</a>
      </li>
   

    </ul>
  </nav>